.s32 {
  width: 32px;
  height: 32px;
}
.s24 {
  width: 24px;
  height: 24px;
}
.s16 {
  width: 16px;
  height: 16px;
}
.s14 {
  width: 14px;
  height: 14px;
}
.s10 {
  width: 10px;
  height: 10px;
}
.s8 {
  width: 8px;
  height: 8px;
}
i.i {
  background-image: url(img/sprite@1x.png);
  background-image: -webkit-image-set(url(img/sprite@1x.png) 1x, url(img/sprite@2x.png) 2x);
  background-image: -moz-image-set(url(img/sprite@1x.png) 1x, url(img/sprite@2x.png) 2x);
  background-image: -ms-image-set(url(img/sprite@1x.png) 1x, url(img/sprite@2x.png) 2x);
  background-image: -o-image-set(url(img/sprite@1x.png) 1x, url(img/sprite@2x.png) 2x);
  background-image: image-set(url(img/sprite@1x.png) 1x, url(img/sprite@2x.png) 2x);
  background-repeat: no-repeat;
  _background-image: url(../css/img/sprite@1x.png);
  display: inline-block;
  *display: inline;
  *zoom: 1;
  /*前3行完成*/
  /* 4th row start */
  /* 4th row end */
  /* 5th row start */
  /* 5th row end */
  /* 6-7th row start */
  /* 6-7th row end */
  /* 8-10th row start */
  /*这个图标位置不标准，要偏移,x-3,y-5*/
  /* 8-10th row end */
  /* 11th row(sns) start */
  /* 11th row end */
  /* 12th row start */
  /*12.1图片作了修改，需要偏移，左上角位置是：-192,-160.图标绝对位置是各-12*/
  /* 12th row end */
  /* 13th row start */
  /* 13th row end */
  /* 14th row start */
  /* 14th row end */
}
i.i.icon_like {
  background-position: 0 0;
  width: 16px;
  height: 16px;
}
i.i.icon_like:hover {
  background-position: 0 -16px;
}
i.i.icon_like_hover {
  width: 16px;
  height: 16px;
  background-position: 0 -16px;
}
i.i.icon_like_active {
  width: 16px;
  height: 16px;
  background-position: 0 -32px;
}
i.i.icon_comment {
  background-position: -16px 0;
  width: 16px;
  height: 16px;
}
i.i.icon_comment:hover {
  background-position: -16px -16px;
}
i.i.icon_comment_hover {
  width: 16px;
  height: 16px;
  background-position: -16px -16px;
}
i.i.icon_comment_active {
  width: 16px;
  height: 16px;
  background-position: -16px -32px;
}
i.i.icon_share {
  background-position: -32px 0;
  width: 16px;
  height: 16px;
}
i.i.icon_share:hover {
  background-position: -32px -16px;
}
i.i.icon_share_hover {
  width: 16px;
  height: 16px;
  background-position: -32px -16px;
}
i.i.icon_share_active {
  width: 16px;
  height: 16px;
  background-position: -32px -32px;
}
i.i.icon_listarrow {
  background-position: -48px 0;
  width: 16px;
  height: 16px;
}
i.i.icon_listarrow:hover {
  background-position: -48px -16px;
}
i.i.icon_listarrow_hover {
  width: 16px;
  height: 16px;
  background-position: -48px -16px;
}
i.i.icon_camera {
  background-position: -64px 0;
  width: 16px;
  height: 16px;
}
i.i.icon_camera:hover {
  background-position: -64px -16px;
}
i.i.icon_camera_hover {
  width: 16px;
  height: 16px;
  background-position: -64px -16px;
}
i.i.icon_add_circle {
  background-position: -80px 0;
  width: 16px;
  height: 16px;
}
i.i.icon_add_circle:hover {
  background-position: -80px -16px;
}
i.i.icon_add_circle_hover {
  width: 16px;
  height: 16px;
  background-position: -80px -16px;
}
i.i.icon_qrcode {
  background-position: -96px 0;
  width: 16px;
  height: 16px;
}
i.i.icon_qrcode:hover {
  background-position: -96px -16px;
}
i.i.icon_qrcode_hover {
  width: 16px;
  height: 16px;
  background-position: -96px -16px;
}
i.i.icon_write {
  background-position: -112px 0;
  width: 16px;
  height: 16px;
}
i.i.icon_write:hover {
  background-position: -112px -16px;
}
i.i.icon_write_hover {
  width: 16px;
  height: 16px;
  background-position: -112px -16px;
}
i.i.icon_zoom {
  background-position: -128px 0;
  width: 16px;
  height: 16px;
}
i.i.icon_zoom:hover {
  background-position: -128px -16px;
}
i.i.icon_zoom_hover {
  width: 16px;
  height: 16px;
  background-position: -128px -16px;
}
i.i.icon_email {
  background-position: -144px 0;
  width: 16px;
  height: 16px;
}
i.i.icon_email:hover {
  background-position: -144px -16px;
}
i.i.icon_email_hover {
  width: 16px;
  height: 16px;
  background-position: -144px -16px;
}
i.i.icon_user1 {
  background-position: -160px 0;
  width: 16px;
  height: 16px;
}
i.i.icon_user1:hover {
  background-position: -160px -16px;
}
i.i.icon_user1_hover {
  width: 16px;
  height: 16px;
  background-position: -160px -16px;
}
i.i.icon_pwd1 {
  background-position: -176px 0;
  width: 16px;
  height: 16px;
}
i.i.icon_pwd1:hover {
  background-position: -176px -16px;
}
i.i.icon_pwd1_hover {
  width: 16px;
  height: 16px;
  background-position: -176px -16px;
}
i.i.icon_vip {
  background-position: 0 -48px;
  width: 16px;
  height: 16px;
}
i.i.icon_ellipsis {
  background-position: -16px -48px;
  width: 16px;
  height: 16px;
}
i.i.icon_eye {
  background-position: -32px -48px;
  width: 16px;
  height: 16px;
}
i.i.icon_warning {
  background-position: -48px -48px;
  width: 16px;
  height: 16px;
}
i.i.icon_quote {
  background-position: -64px -48px;
  width: 16px;
  height: 16px;
}
i.i.icon_got {
  background-position: -80px -48px;
  width: 16px;
  height: 16px;
}
i.i.icon_checked {
  background-position: -96px -48px;
  width: 16px;
  height: 16px;
}
i.i.icon_tips {
  background-position: 0 -64px;
  width: 8px;
  height: 8px;
}
i.i.icon_contentarr {
  background-position: -8px -64px;
  width: 8px;
  height: 8px;
}
i.i.icon_contentarr:hover {
  background-position: -8px -72px;
}
i.i.icon_contentarr_hover {
  width: 8px;
  height: 8px;
  background-position: -8px -72px;
}
i.i.icon_urllink {
  background-position: -16px -64px;
  width: 8px;
  height: 8px;
}
i.i.icon_urllink:hover {
  background-position: -16px -72px;
}
i.i.icon_urllink_hover {
  width: 8px;
  height: 8px;
  background-position: -16px -72px;
}
i.i.icon_nointerest {
  background-position: 0 -80px;
  width: 14px;
  height: 14px;
}
i.i.icon_nointerest:hover {
  background-position: 0 -96px;
}
i.i.icon_nointerest_hover {
  background-position: 0 -96px;
  width: 14px;
  height: 14px;
}
i.i.icon_refresh {
  background-position: -16px -80px;
  width: 14px;
  height: 14px;
}
i.i.icon_refresh:hover {
  background-position: -16px -96px;
}
i.i.icon_refresh_hover {
  background-position: -16px -96px;
  width: 14px;
  height: 14px;
}
i.i.icon_arrdown {
  background-position: -32px -80px;
  width: 14px;
  height: 14px;
}
i.i.icon_arrdown:hover {
  background-position: -32px -96px;
}
i.i.icon_arrdown_hover {
  background-position: -32px -96px;
  width: 14px;
  height: 14px;
}
i.i.icon_arrup {
  background-position: -48px -80px;
  width: 14px;
  height: 14px;
}
i.i.icon_arrup:hover {
  background-position: -48px -96px;
}
i.i.icon_arrup_hover {
  background-position: -48px -96px;
  width: 14px;
  height: 14px;
}
i.i.icon_tipsad {
  background-position: -64px -80px;
  width: 14px;
  height: 14px;
}
i.i.icon_selectarr {
  background-position: -3px -117px;
  width: 10px;
  height: 10px;
}
i.i.icon_selectarr:hover {
  background-position: -3px -133px;
}
i.i.icon_selectarr_hover {
  background-position: -3px -133px;
  width: 10px;
  height: 10px;
}
i.i.icon_selectarr_disable {
  background-position: -3px -149px;
  width: 10px;
  height: 10px;
}
i.i.icon_xx {
  background-position: -16px -112px;
  width: 10px;
  height: 10px;
}
i.i.icon_xx:hover {
  background-position: -16px -128px;
}
i.i.icon_xx_hover {
  background-position: -16px -128px;
  width: 10px;
  height: 10px;
}
i.i.icon_pic_slideup {
  background-position: -32px -112px;
  width: 18px;
  height: 18px;
}
i.i.icon_pic_source {
  background-position: -56px -112px;
  width: 18px;
  height: 18px;
}
i.i.icon_pic_prev {
  background-position: -80px -112px;
  width: 10px;
  height: 16px;
}
i.i.icon_pic_next {
  background-position: -96px -112px;
  width: 10px;
  height: 16px;
}
i.i.icon_sns_weibo {
  background-position: 0 -160px;
  width: 24px;
  height: 24px;
}
i.i.icon_sns_weibo:hover {
  background-position: 0 -192px;
}
i.i.icon_sns_weibo_hover {
  background-position: 0 -192px;
  width: 24px;
  height: 24px;
}
i.i.icon_sns_weix {
  background-position: -32px -160px;
  width: 24px;
  height: 24px;
}
i.i.icon_sns_weix:hover {
  background-position: -32px -192px;
}
i.i.icon_sns_weix_hover {
  background-position: -32px -192px;
  width: 24px;
  height: 24px;
}
i.i.icon_sns_qzone {
  background-position: -64px -160px;
  width: 24px;
  height: 24px;
}
i.i.icon_sns_qzone:hover {
  background-position: -64px -192px;
}
i.i.icon_sns_qzone_hover {
  background-position: -64px -192px;
  width: 24px;
  height: 24px;
}
i.i.icon_sns_fb {
  background-position: -96px -160px;
  width: 24px;
  height: 24px;
}
i.i.icon_sns_fb:hover {
  background-position: -96px -192px;
}
i.i.icon_sns_fb_hover {
  background-position: -96px -192px;
  width: 24px;
  height: 24px;
}
i.i.icon_sns_tt {
  background-position: -128px -160px;
  width: 24px;
  height: 24px;
}
i.i.icon_sns_tt:hover {
  background-position: -128px -192px;
}
i.i.icon_sns_tt_hover {
  background-position: -128px -192px;
  width: 24px;
  height: 24px;
}
i.i.icon_sns_qq {
  background-position: -160px -160px;
  width: 24px;
  height: 24px;
}
i.i.icon_sns_qq:hover {
  background-position: -160px -192px;
}
i.i.icon_sns_qq_hover {
  background-position: -160px -192px;
  width: 24px;
  height: 24px;
}
i.i.icon_ecircle {
  background-position: 0 -224px;
  width: 24px;
  height: 24px;
}
i.i.icon_bigerror {
  background-position: -204px -172px;
  width: 24px;
  height: 24px;
}
i.i.icon_face_good {
  background-position: 0 -256px;
  width: 32px;
  height: 32px;
}
i.i.icon_face_bad {
  background-position: -32px -256px;
  width: 32px;
  height: 32px;
}
i.i.icon_backtop {
  background-position: -64px -256px;
  width: 32px;
  height: 32px;
}
i.i.icon_backtop:hover {
  background-position: -96px -256px;
}
i.i.icon_backtop_hover {
  background-position: -96px -256px;
  width: 32px;
  height: 32px;
}
i.i.icon_home_icon1 {
  background-position: 0 -288px;
  width: 100px;
  height: 100px;
}
i.i.icon_home_icon2 {
  background-position: -112px -288px;
  width: 100px;
  height: 100px;
}
i.i.icon_home_icon3 {
  background-position: -224px -288px;
  width: 100px;
  height: 100px;
}
